ul.topnav#topnav
  li
    a.fa.fa-bars(onclick="openNav()")
  li
    a(ui-sref="Dashboard.feed") AgileMate
  li.right
    a.fa.fa-sign-out(ng-click="logOut()") Log Out
  li.right
    a.fa.fa-user-circle(ui-sref="Dashboard.profile") Profile

.sidenav#mySidenav
  span(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
  
  a.fa.fa-folder-open(ui-sref="Dashboard.projects")&nbsp; Projects
  a.fa.fa-users(ui-sref="Dashboard.developers")&nbsp; Developers
  a.fa.fa-exclamation-triangle(ui-sref="Dashboard.issues")&nbsp; Issues
#main  
  ui-view
