link(type="text/css" rel="stylesheet" href="/stylesheets/dashboard.css")
link(type="text/css" rel="stylesheet" href="/stylesheets/style.css")
link(type="text/css" rel="stylesheet" href="/bower_components/MDBootstrap/css/bootstrap.css")
link(type="text/css" rel="stylesheet" href="/bower_components/MDBootstrap/css/mdb.css")
link(type="text/css" rel="stylesheet" href="/bower_components/MDBootstrap/css/style.css")
link(rel="stylesheet", href="/bower_components/angular-material/angular-material.css", type="text/css")
link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons")


script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-aria/angular-aria.js")
script(src="/bower_components/angular-animate/angular-animate.js")
script(src="/bower_components/angular-messages/angular-messages.js")

script(src="/bower_components/angular-material/angular-material.js")
script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
script(src="/javascripts/app.js")
script(src="/javascripts/controller.js")
script(src="/javascripts/nav.js")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/MDBootstrap/js/tether.js")
script(src="/bower_components/MDBootstrap/js/bootstrap.js")
script(src="/bower_components/MDBootstrap/js/mdb.js")
script(src="/bower_components/MDBootstrap/js/jquery-2.2.3.js")
//- script(src="/bower_components/MDBootstrap/js/jquery-3.1.1.js")
