body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color:#ecf0f1*/
  margin:auto;;
}
body .landing{

height:100vh;
width: :100vw;
background: #F3904F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F3904F , #3B4371); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F3904F , #3B4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}
