ul.topnav#topnav
  li
    a(onclick="openNav()") #
  li
    a(ui-sref="Dashboard") AgileMate
  li.right
    a(ng-click="logOut()") Log Out
  li.right
    a(ui-sref) Profile

.sidenav#mySidenav
  span(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
  a(ui-sref="userDash.projects") Projects
  a(ui-sref="userDash.tasks") Tasks
  a Issues
  a Notifications
#main  
  ui-view
